<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/index.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/normalize.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/" + theme.highlight + ".css") }}">
    <script type="text/javascript" src="{{ url_for("js/jquery.min.js")}}"></script>
    <script defer type="text/javascript" src="{{ url_for("js/fontawesome-all.min.js")}}"></script>
    {% if theme.busuanzi %}
    <script async src="{{ url_for("js/busuanzi.pure.mini.js")}}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for("js/index.js")}}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "header.njk" %}
    <main id="main" class="main">
      <div class="container">
        <div class="main-body">
          <div class="content">
            {% block content %}{% endblock %}
          </div>
          {# Sidebar can be `left`, `right` or `false`. #}
          {% if theme.sidebar != false %}
          {% include "sidebar.njk" %}
          {% endif %}
        </div>
      </div>
    </main>
    {% include "footer.njk" %}
  </body>
</html>
