<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if theme.android_chrome_color %}
    <meta name="theme-color" content="{{ theme.android_chrome_color }}">
    {% endif %}
    {% if theme.google_site_verification %}
    <meta name="google-site-verification" content="{{ theme.google_site_verification }}">
    {% endif %}
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% elif theme.keywords %}
    <meta name="keywords" content="{{ theme.keywords }}">
    {% endif %}
    {% if theme.favicon.ms_browserconfig %}
    <meta name="msapplication-config" content="{{ url_for(theme.favicon.ms_browserconfig) }}">
    {% endif %}
    {% if theme.favicon.apple_touch_icon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for(theme.favicon.apple_touch_icon) }}">
    {% endif %}
    {% if theme.favicon.medium %}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for(theme.favicon.medium) }}">
    {% endif %}
    {% if theme.favicon.small %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for(theme.favicon.small) }}">
    {% endif %}
    {% if theme.favicon.safari_pinned_tab %}
    <link rel="mask-icon" href="{{ url_for(theme.favicon.safari_pinned_tab) }}" color="{{ theme.android_chrome_color }}">
    {% endif %}
    {% if theme.favicon.android_manifest %}
    <link rel="manifest" href="{{ url_for(theme.favicon.android_manifest) }}">
    {% endif %}
    {% if config.feed.path %}
    <link rel="alternate" href="{{ url_for(config.feed.path) }}" title="{{ config.title }}" type="application/atom+xml" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/index.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/normalize.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/" + theme.highlight + ".css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/lightgallery.min.css") }}">
    <script type="text/javascript" src="{{ url_for("js/jquery.min.js")}}"></script>
    <script defer type="text/javascript" src="{{ url_for("js/util.js")}}"></script>
    <script defer type="text/javascript" src="{{ url_for("js/scrollspy.js")}}"></script>
    <script defer type="text/javascript" src="{{ url_for("js/fontawesome-all.min.js")}}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lightgallery.min.js") }}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lg-thumbnail.min.js") }}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lg-zoom.min.js") }}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lg-share.min.js") }}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lg-pager.min.js") }}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lg-hash.min.js") }}"></script>
    <script async type="text/javascript" src="{{ url_for("js/lg-fullscreen.min.js") }}"></script>
    {% if theme.busuanzi %}
    <script async src="{{ url_for("js/busuanzi.pure.mini.js")}}"></script>
    {% endif %}
    <script defer type="text/javascript" src="{{ url_for("js/index.js")}}"></script>
    {% if theme.search %}
    <script type="text/javascript" src="{{ url_for("js/search.js") }}"></script>
    <script type="text/javascript">
    var searchPath = "{{ config.search.path }}";
    if (searchPath.length == 0) {
	    searchPath = "search.xml";
    }
    var path = "{{ config.root }}" + searchPath;
    searchFunc(path, "search-input", "search-result");
    </script>
    {% endif %}
    {% if theme.mathjax.cdn %}
    {% if theme.mathjax.global or page.mathjax %}
    <script type="text/javascript" src="{{ theme.mathjax.cdn }}"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
    </script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for (i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
      }
    });
    </script>
    {% endif %}
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" lang="{{ page.lang or page.language or config.language }}"  data-spy="scroll" data-target=".list-group">
    {% include "header.njk" %}
    <main id="main" class="main">
      <div class="container">
        <div class="main-body">
          <div class="content">
            {% block content %}{% endblock %}
          </div>
          {# Sidebar can be `left`, `right` or `false`. #}
          {% if theme.sidebar != false %}
          {% include "sidebar.njk" %}
          {% endif %}
        </div>
      </div>
    </main>
    {% include "footer.njk" %}
  </body>
</html>
