{% block article %}
<article id="article" class="article" itemscope itemtype="http://schema.org/Article">
  <div class="post-block">
    <link itemprop="mainEntityOfPage" href="{{ config.url }}{{ url_for(post.path) }}">
    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{ config.author }}">
      <meta itemprop="description" content="{{ config.description }}">
      <meta itemprop="image" content="{{ url_for( theme.avatar) }}">
    </span>
    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ config.title }}">
    </span>

  </div>
</article>
{% endblock %}
