{% block author %}
<div class="author" id="author">
  {% if theme.avatar %}
  <img class="author-avatar" src="{{ theme.avatar }}" alt="{{ config.author }}">
  {% endif %}
  <p class="author-name">{{ config.author }}</p>
  <p class="author-description"> {{ config.description }}</p>
</div>
{% if theme.social %}
{% include "sociallink.njk" %}
{% endif %}
{% endblock %}
