{% block author %}
<div class="author sidebar-item" id="author">
  {% if theme.avatar %}
  <img class="author-avatar" src="{{ url_for(theme.avatar) }}" alt="{{ config.author }}">
  {% endif %}
  <p class="author-name">{{ config.author }}</p>
  <p class="author-description"> {{ config.description }}</p>
  {% if config.feed.path %}
  <a class="rss button sidebar-item" href="{{ url_for(config.feed.path) }}"><i class="fas fa-rss"></i> RSS</a>
  {% endif %}
</div>
{% endblock %}
