{% block blogroll %}
{% if theme.blogroll %}
<div class="blogroll sidebar-item">
  <p><i class="fas fa-link"></i> {{ __("blogroll")}}</p>
  <ul>
    {% for k, v in theme.blogroll %}
    <li><a href="{{ v }}" target="_blank">{{ k }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
