{% block busuanzi %}
<div class="busuanzi">
  <span id="busuanzi_container_site_pv"><i class="fas fa-eye" aria-label="{{ __("accessibility.site_pv") }}" aria-hidden="false"></i><span id="busuanzi_value_site_pv"></span></span><span id="busuanzi_container_site_uv"><i class="fas fa-user" aria-label="{{ __("accessibility.site_uv") }}" aria-hidden="false"></i><span id="busuanzi_value_site_uv"></span></span><span id="busuanzi_container_page_pv"><i class="far fa-file-alt"></i><span id="busuanzi_value_page_pv" aria-label="{{ __("accessibility.page_pv") }}" aria-hidden="false"></span></span>
</div>
{% endblock %}
