{% extends "_layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for("css/categories.css") }}">
{% endblock %}

{% block title %}{{ __(page.title) }} | {{ config.title }}{% if config.subtitle %} - {{ config.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div class="categories" id="categories">
  <article class="page-article card{% if theme.animate %} animate{% endif %}">
    <header class="page-header">
      <h1 class="page-title" itemprop="name headline">{{ __(page.title) }}</h1>
    </header>
    <main class="page-main">
      <h2 class="categories-counter">
        {% if site.categories.length > 1 %}
        {{ _p("categorycount.more", site.categories.length) }}
        {% elif site.categories.length === 1 %}
        {{ _p("categorycount.one", site.categories.length) }}
        {% else %}
        {{ __("categorycount.none") }}
        {% endif %}
      </h2>
      <div class="categories-list">
        {{ list_categories() }}
      </div>
    </main>
    <footer class="page-footer"></footer>
  </article>
</div>
{% endblock %}
