{% block comment %}
<div class="comments animate" id="comments">
  {% if theme.comment.hypercomments_id %}
  {% if page.comment %}
  <div id="hypercomments_widget"></div>
  {% endif %}
  <script type="text/javascript">
  _hcwp = window._hcwp || [];
  _hcwp.push({ widget: "Bloggerstream", widget_id: {{ theme.comment.hypercomments_id }}, selector: ".hc-comment-count", label: "{\%COUNT%\}" });
  {% if page.comment %}
  _hcwp.push({ widget:"Stream", widget_id: {{ theme.comment.hypercomments_id }}, xid: "{{ page.path }}" });
  {% endif %}
  (function() {
    if ("HC_LOAD_INIT" in window)
      return;
    HC_LOAD_INIT = true;
    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
    var hcc = document.createElement("script");
    hcc.type = "text/javascript";
    hcc.async = true;
    hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/{{ theme.comment.hypercomments_id }}/"+lang+"/widget.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hcc, s.nextSibling);
  })();
  </script>
  {% elif theme.comment.disqus_shortname %}
  <script id="dsq-count-scr" src="//{{ theme.comment.disqus_shortname }}.disqus.com/count.js" async></script>
  {% if page.comment %}
  <div id="disqus_thread" class="disqus_thread"></div>
  <script>
  var disqus_config = function () {
    this.page.url = "{{ page.permalink }}";
    this.page.identifier = "{{ page.path }}";
  };
  (function() {
    var d = document, s = d.createElement("script");
    s.src = "https://{{ theme.comment.disqus_shortname }}.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
