{% block header %}
<header id="header" class="header"{% if theme.color %} style="background: {{ theme.color }};"{% endif %}>
  <div class="container">
    <div class="header-container">
      <div class="header-title">
        <h1 class="title"><a href="{{ url_for() }}">{{ config.title }}</a></h1>
        <h2 class="subtitle">{{ config.subtitle }}</h2>
      </div>
      {% if theme.logo %}
      <div class="logo">
        <img src="{{ url_for(theme.logo) }}" alt="logo">
      </div>
      {% endif %}
    </div>
    <nav id="nav" class="nav">
      <a id="nav-toggle" class="nav-toggle" aria-hidden="true"><i class="fas fa-bars" aria-label="{{ __("accessibility.nav_toggle") }}"></i></a>
      <ul id="menu" role="menubar" aria-hidden="false">
        {% for e in theme.menu %}
        <li role="menuitem"><a href="{{ url_for(e.link) }}"{% if is_current(url_for(e.link), true) %} class="current"{% endif %}>{% if e.icon %}{{ e.icon }}{% endif %}<span class="menu-text">{{ __(e.name) }}</span></a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
