{% block header %}
<header id="header" class="header"{% if theme.color %} style="background: {{ theme.color }};"{% endif %}>
  <div class="container">
    <div class="header-container">
      <div class="header-title">
        <h1 class="title"><a href="{{ url_for() }}">{{ config.title }}</a></h1>
        <h2 class="subtitle">{{ config.subtitle }}</h2>
      </div>
      {% if theme.logo %}
      <div class="logo">
        <img src="{{ url_for(theme.logo) }}" alt="logo">
      </div>
      {% endif %}
    </div>
    {% include "nav.njk" %}
  </div>
</header>
{% endblock %}
