{% block author %}
<div class="info sidebar-item" id="info">
  {% if theme.avatar %}
  <img class="author-avatar" src="{{ url_for(theme.avatar) }}" alt="{{ config.author }}">
  {% endif %}
  <h1 class="author-name">{{ config.author }}</h1>
  <h2 class="author-description"> {{ config.description }}</h2>
  <div class="site-count">
    {% if theme.menu.archives %}
    <div class="archives-count">
      <div class="site-count-title">{{ __("archives") }}</div>
      <div><a href="{{ url_for(theme.menu.archives) }}">{{ site.posts.length }}</a></div>
    </div>
    {% endif %}
    {% if theme.menu.categories %}
    {% if theme.menu.archives %}
    <span class="site-count-divider divider">|</span>
    {% endif %}
    <div class="categories-count">
      <div class="site-count-title">{{ __("categories") }}</div>
      <div><a href="{{ url_for(theme.menu.categories) }}">{{ site.categories.length }}</a></div>
    </div>
    {% endif %}
    {% if theme.menu.tags %}
    {% if theme.menu.categories or theme.menu.archives %}
    <span class="site-count-divider divider">|</span>
    {% endif %}
    <div class="tags-count">
      <div class="site-count-title">{{ __("tags") }}</div>
      <div><a href="{{ url_for(theme.menu.tags) }}">{{ site.tags.length }}</a></div>
    </div>
    {% endif %}
  </div>
  {% if config.feed.path %}
  <div class="rss">
    <a class="rss-link button sidebar-item" href="{{ url_for(config.feed.path) }}"><i class="fas fa-rss"></i>RSS</a>
  </div>
  {% endif %}
</div>
{% endblock %}
