{% extends "_layout.njk" %}

{% block title %}{{ page.title }} | {{ config.title }} - {{ config.subtitle }}{% endblock %}

{% block content %}
<section id="posts" class="posts">
  <h1>Fucking hidden template.</h1>
</section>
{% endblock %}
