{% if page.layout === "index" or page.type === "index" or page.title === "index" or is_home() %}
{% include "index.njk" %}
{% elif page.layout === "archive" or page.type === "archive" or page.title === "archive" or is_archive() %}
{% include "archive.njk" %}
{% elif page.layout === "categories" or page.type === "categories" or page.title === "categories" %}
{% include "categories.njk" %}
{% elif page.layout === "category" or page.type === "category" or page.title === "category" or is_category() %}
{% include "category.njk" %}
{% elif page.layout === "tags" or page.type === "tags" or page.title === "tags" %}
{% include "tags.njk" %}
{% elif page.layout === "tag" or page.type === "tag" or page.title === "tag" or is_tag() %}
{% include "tag.njk" %}
{% else %}
{% extends "_layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for("css/page.css") }}">
{% endblock %}

{% block title %}{{ __(page.title) }} | {{ config.title }}{% if config.subtitle %} - {{ config.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="page" class="page">
  <article class="page-article card{% if theme.animate %} animate{% endif %}">
    <header class="page-header">
      <h1 class="page-title" itemprop="name headline">
        <span>{{ __(page.title) }}</span>
      </h1>
    </header>
    <main class="page-main">
      {{ page.content }}
    </main>
    <footer class="page-footer"></footer>
  </article>
  {% if theme.comment.enable %}
  {% include "comment.njk" %}
  {% endif %}
</div>
{% endblock %}
{% endif %}
