{% if page.layout == "index" or page.type == "index" %}
{% include "index.njk" %}
{% elif page.layout == "categories" or page.type == "categories" %}
{% include "categories.njk" %}
{% elif page.layout == "tags" or page.type == "tags" %}
{% include "tags.njk" %}
{% else %}
{% extends "_layout.njk" %}
{% block title %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block content %}
<section id="page-content" class="page-content animate">
  <div class="page-container">
  {{ page.content }}
  </div>
  {% if theme.comment.enable %}
  {% include "comment.njk" %}
  {% endif %}
</section>
{% endblock %}
{% endif %}
