{% block sidebar %}
<aside class="sidebar" id="sidebar">
  {% if theme.search %}
  <div class="search">
    <div class="form-group">
      <i class="fas fa-search"></i> <input type="text" id="search-input" name="q" results="0" placeholder="{{ __("search") }}" class="form-control"/>
    </div>
  </div>
  <div class="search-result-box" id="search-result"></div>
  {% endif %}
  {% include "author.njk" %}
  {% if page.content %}
  {% include "toc.njk" %}
  {% endif %}
  {% include "blogroll.njk" %}
</aside>
{% endblock %}
