{% extends "_layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for("css/post.css") }}">
{% endblock %}

{% block title %}{{ __(page.title) }} | {{ config.title }}{% if config.subtitle %} - {{ config.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="tags" class="tags page">
  <article class="article post card{% if theme.animate %} animate{% endif %}">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ __(page.title) }}</h1>
    </header>
    <main class="post-main">
      <h2 class="page-counter">
        {% if site.tags.length > 1 %}
        {{ _p("tagcount.more", site.tags.length) }}
        {% elif site.tags.length === 1 %}
        {{ _p("tagcount.one", site.tags.length) }}
        {% else %}
        {{ __("tagcount.none") }}
        {% endif %}
      </h2>
      <div class="tags-cloud">
        {{ tagcloud({min_font: 16, max_font: 32, amount: 300, color: true, start_color: "#777", end_color: "#111"}) }}
      </div>
    </main>
    <footer class="post-footer"></footer>
  </article>
</div>
{% endblock %}
