{% extends "_layout.njk" %}

{% block title %}{{ __(page.title) }} | {{ config.title }}{% endblock %}

{% block content %}
<section class="tags" id="tags">
  <div class="tags-container card">
    <div class="tags-counter">
      {% set visibleTags = 0 %}
      {% for tag in site.tags.toArray() %}
      {% if tag.length %}
      {% set visibleTags = visibleTags + 1 %}
      {% endif %}
      {% endfor %}
      {% if visibleTags > 1 %}
      <p>{{ _p("tagcount.more", visibleTags) }}</p>
      {% elif visibleTags == 1 %}
      <p>{{ _p("tagcount.one", visibleTags) }}</p>
      {% else %}
      <p>{{ __("tagcount.none") }}</p>
      {% endif %}
    </div>
    <div class="tags-cloud">
      {{ tagcloud({min_font: 12, max_font: 30, amount: 300, color: true, start_color: "#777", end_color: "#111"}) }}
    </div>
  </div>
</section>
{% endblock %}
