{% block toc %}
{% set toc = toc(page.content, { "list_number": false }) %}
{% if toc.length > 1 %}
<hr>
<div class="post-toc">
  <p><i class="fas fa-list-ol"></i> Table of Contents</p>
  <div class="post-toc-content">{{ toc }}</div>
</div>
{% endif %}
{% endblock %}
