{% block toc %}
{% if post.encrypt %}
{% set toc = toc(page.origin, { "list_number": false }) %}
{% else %}
{% set toc = toc(page.content, { "list_number": false }) %}
{% endif %}
{% if toc.length > 0 %}
<hr>
<div class="post-toc sidebar-item" id="toc-div"{% if post.encrypt %}style="display: none;"{% endif %}>
  <div><i class="fas fa-list-ol"></i>{{ __("toc") }}</div>
  <div class="post-toc-content">{{ toc }}</div>
</div>
{% endif %}
{% endblock %}
