@import "variables";
@import "nib";
.archive-container {
  .archive-counter {
    text-align: center;
  }
  .archive-title {
    text-align: center;
  }
  .archive-post {
    text-align: center;
    .post-title {
      padding: 0;
      margin: 0;
    }
  }
}
