@import "variables";
.author {
  text-align: center;
  .author-avatar {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    border: 0.3em solid white;
    border-radius: 50%;
    box-shadow: 0 0.075em 1em 0.5em rgba(0, 0, 0, 0.19);
    transition: 1s ease-in-out;
    &:hover {
      transform: rotateY(720deg);
    }
  }
  .author-name {
    color: $color-author-name;
    font-size: 1.5em;
  }
  .author-description {
    color: $color-author-description;
    font-size: 1.2em;
  }
  .rss {
    display: block;
    font-size: 1.5em;
    color: $color-link-index-button;
    background: $orange;
    margin: 0.25em;
    padding: 0.15em;
  }
}
