@import "variables";
@import "nib";
.category {
  .category-title {
    text-align: center;
  }
  .category-archive {
    text-align: center;
    .post-title {
      padding: 0;
      margin: 0;
    }
  }
}
