@import "variables";
.categories {
  background: white;
  padding: 1em;
  margin: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  .categories-counter {
    text-align: center;
    position: relative;
    padding-left: 1em;
    font-size: 1.5em;
  }
  .category-list-link {
    font-size: 1.2em;
    &:active {
      top: 0.1em;
    }
  }
  .category-list-count {
    font-size: 1.2em;
    margin-left: 1em;
  }
}
