@import "variables";
.categories {
  background: white;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0, 0, 0, 0.19);
  .categories-counter {
    text-align: center;
    position: relative;
    padding-left: 20px;
    font-size: 30px;
  }
  .category-list-link {
    font-size: 1.2em;
  }
  .category-list-count {
    font-size: 1.2em;
    margin-left: 1em;
  }
}
