@import "variables";
@import "nib";
.categories .page-main {
  .categories-counter {
    text-align: center;
    position: relative;
    font-size: 1.5em;
  }
  .category-list-link {
    font-size: 1.2em;
    &:active {
      top: 0.1em;
    }
  }
  .category-list-count {
    font-size: 1.2em;
    margin-left: 1em;
  }
}
