@import "variables";
@import "nib";
.comments {
  if (hexo-config("comment.disqus_shortname")) {
    .disqus_thread {
      padding: 2em;
    }
  }
  if (hexo-config("comment.commentjs.enable")) {
    .commentjs {
      padding: 2em;
      .avatar {
        width: 3em;
        height: 3em;
      }
      .comment-body {
        width: 95%;
        pre {
          background: #f6f8fa;
          padding: 1em;
          border-radius: $corner-radius;
        }
      }
      .button {
        padding: 0.3em 1em;
        background: $color-button-commentjs-background;
      }
    }
  }
}
