@import "variables";
.comments {
  font-size: $font-size;
  if (hexo-config("comment.disqus_shortname")) {
    .disqus_thread {
      padding: 2em;
    }
  }
  if (hexo-config("comment.commentjs.enable")) {
    .commentjs {
      padding: 2em;
      .button {
        padding: 1em 0.3em;
        background: red;
      }
    }
  }
}
