@import "variables";
@import "nib";
.comments {
  if (hexo-config("comment.disqus_shortname")) {
    .disqus_thread {
      padding: 2em;
    }
  }
  if (hexo-config("comment.commentjs.enable")) {
    .commentjs {
      padding: 2em;
      .avatar-parent-child {
        a {
          text-decoration: none;
          border-bottom: none;
          display: block;
          text-align: center;
          img {
            transition: 0.3s ease-in-out;
            border: 0.15em solid $color-background;
          }
          &:hover {
            img {
              box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
            }
            border-bottom: none;
          }
        }
        .avatar {
          width: 3em;
          height: 3em;
        }
      }
      .comment-body {
        width: 85%;
        pre {
          background: #f6f8fa;
          padding: 1em;
          border-radius: $corner-radius;
          overflow: auto;
        }
      }
      .button {
        padding: 0.3em 1em;
        background: $color-button-commentjs-background;
      }
    }
  }
}
