@import "variables";
.footer {
  .footer-container {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  margin-top: 30px;
  background: $color-footer-background;
  color: $color-lighter-font;
  &::selection {
    color: $color-lighter-selection-font;
    background: $color-lighter-selection;
  }
  a {
    color: $color-light-link;
    text-decoration: none;
    border-bottom: 1px dotted $color-light-link;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $color-light-link-hover;
      border-bottom: 1px solid $color-light-link-hover;
    }
    &:active {
      top: 2px;
    }
  }
  .back-to-top {
    display: block;
    text-align: center;
    a {
      background: $color-background;
      color: $color-link;
      overflow: hidden;
      display: inline-block;
      margin: 0 auto;
      padding: 0 1em;
      border-bottom-left-radius: $corner-radius;
      border-bottom-right-radius: $corner-radius;
      font-size: 2em;
      &:hover {
        color: $color-link-hover;
      }
    }
  }
}
