.footer {
    margin-top: 30px;
    padding-bottom: 20px;
    background: $color-footer-background;
    color: $color-footer-font;
    ::selection {
        color: $color-footer-selection-font;
        background: $color-footer-selection;
    }
    a {
        color: $color-footer-link;
        &:hover {
            color: $color-footer-link-hover;
        }
    }
    .back-to-top {
        a {
            text-align: center;
            background: $color-background;
            color: $color-link;
            overflow: hidden;
            width: 60px;
            height: 30px;
            display: block;
            margin: 0 auto;
            border-radius: 0 0 3px 3px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            &:hover {
                color: $color-link-hover;
            }
        }
    }
}
