@import "variables";
@import "nib";
.header {
  padding-bottom: $search-height;
  margin-bottom: 0;
  background: $color-header-background;
  position: relative;
  &::selection {
    color: $color-light-selection-font;
    background: $color-light-selection;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    .header-title {
      flex-grow: 2;
      color: $color-title;
      padding: 0.5em;
      a {
        color: $color-title;
        text-decoration: none;
        border-bottom: none;
        &:hover {
          color: $color-title;
          border-bottom: none;
        }
      }
      .title {
        font-size: $font-size-title;
      }
      .subtitle {
        font-style: italic;
        text-shadow: 0 0.05em rgba(0, 0, 0, 0.2);
      }
    }
    .logo {
      flex-grow: 1;
      text-align: center;
      padding-top: 1em;
      img {
        max-width: 20em;
        width: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column-reverse;
      .header-title {
        text-align: center;
      }
    }
  }
}
