@import "variables";
@import "header";
@import "nav";
@import "main";
@import "sidebar";
@import "author";
@import "footer";
@import "archive";
@import "category";
@import "categories";
@import "tag";
@import "tags";
@import "page";
@import "post";
@import "reward";
@import "comment";
@import "toc";
html, body, .container {
  height: 100%;
}
::selection {
  color: $color-selection-font;
  background: $color-selection;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
::-webkit-scrollbar-corner {
  background-color: #535353;
}
::-webkit-scrollbar-resizer {
  background-color: #FF6E00;
}
body ::-webkit-scrollbar {
  width: 8px;
}
body ::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
body {
  color: $color-font;
  background: $color-background;
  font: $font-size $font-sans;
  -webkit-text-size-adjust: 100%;
}
a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px dotted $color-link;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $color-link-hover;
    border-bottom: 1px solid $color-link-hover;
  }
  &:active {
    top: 2px;
  }
}
.button {
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}
a.gallery-item {
  text-decoration: none;
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}
hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  margin-left:auto;
  margin-right:auto;
  width: auto;
  position: relative;
  display: block;
  box-sizing: content-box;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
code {
  margin: 0 2px;
  color: $orange;
  padding: 3px 5px;
  overflow: auto;
  font-size: 1em;
  border-radius: $corner-radius;
  font-family: $font-mono;
  background-color: #f8f8f8;
}
figure {
  overflow: auto;
  font-size: 1em;
  border-radius: $corner-radius;
}
.rtl {
  p, a, h1, h2, h3, h4, h5, h6, li, ul, ol {
    direction: rtl;
    font-family: UKIJ Ekran;
  }
}
.caption {
  color: $grey-dark;
  display: block;
  text-align: center;
}
.container {
  position: relative;
  padding: 0;
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}
.blockquote-center {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;
  &::before, &::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 0 -6px;
    background-size: 22px 22px;
  }
  &::before {
    top: -20px;
    background-image: url(../images/quote-l.svg);
    border-top: 1px solid $grey-light;
  }
  &::after {
    bottom: -20px;
    background-image: url(../images/quote-r.svg);
    border-bottom: 1px solid $grey-light;
    background-position: 100% 8px;
  }
  p, div {
    text-align: center;
  }
}
.pagination {
  padding: 20px;
  display: block;
  text-align: center;
  .page-number, .extend {
    position: relative;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 10px;
    display: inline;
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 3px solid $grey;
    transition: 0.2s ease-in-out;
    &:hover {
      border-bottom: 3px solid $color-link-hover;
    }
    &.current {
      border-bottom: 3px solid $color-link-hover;
      border-top: 1px solid $color-link-hover;
    }
  }
  .space {
    font-size: 20px;
    margin: 0 10px;
    color: $grey;
  }
}
if (hexo-config("animate") != false) {
  .animate {
    animation: 1s flip forwards;
    position: relative;
    transform-origin: 50%;
    top: 5%;
    // opacity: 0;
    transform: rotateX(180deg);
    @keyframes flip {
      0% {
        top: 5%;
        opacity: 0;
      }
      100% {
        // opacity: 1;
        transform: rotateX(0);
        top: 0;
      }
    }
  }
}
@import "custom";
