@import "variables";
@import "nib";
.info {
  text-align: center;
  .author-avatar {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    border: 0.3em solid white;
    border-radius: 50%;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
    transition: 1s ease-in-out;
    &:hover {
      transform: rotateY(720deg);
    }
  }
  .author-name {
    color: $color-author-name;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0.5em;
  }
  .author-description {
    color: $color-author-description;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0.5em;
  }
  .site-count {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0.5em 0em;
    text-align: center;
    font-size: 1em;
    div {
      flex: 1 0 auto;
    }
    .site-count-divider {
      flex: none;
      line-height: 1.5em;
      font-size: 2em;
    }
    .site-count-title {
      margin: 0;
      font-size: 1.2em;
    }
  }
  .rss {
    padding: 0.5em;
    .rss-link {
      display: block;
      text-align: center;
      font-size: 1.5em;
      color: $color-button-font;
      background: $orange;
      padding: 0.2em;
      line-height: 1.25em;
    }
  }
}
