@import "variables";
.nav {
  margin: 0;
  position: relative;
  padding: 0 0.5em;
  background: $color-nav-background;
  box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  border-top-left-radius: $corner-radius;
  border-top-right-radius: $corner-radius;
  display: block;
  ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    li {
      position: relative;
      text-align: center;
      display: inline-block;
      a {
        color: $color-nav-font;
        text-decoration: none;
        text-shadow: 0 0.05em rgba(0, 0, 0, 0.2);
        display: block;
        padding: 0.75em;
        font-size: 1.5em;
        transition: 0.2s ease-in;
        border-bottom: none;
        &:hover {
          border-bottom: none;
          color: $color-nav-link-hover;
          background: $color-nav-hover;
        }
        &.current {
          border-bottom: none;
          color: $color-nav-link-hover;
          background: $color-nav-current;
        }
        &:active {
          top: 0.1em;
        }
      }
    }
  }
  .nav-toggle {
    text-align: center;
    font-size: 2em;
    position: relative;
    cursor: pointer;
    color: $color-light-link;
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: none;
    &:hover {
      border-bottom: none;
      color: $color-light-link-hover;
    }
  }
  @media (max-width: 768px) {
    .nav-toggle {
      display: block;
    }
    ul {
      display: none;
      li {
        display: block;
        text-align:center
        a {
          border-bottom: none;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}
