@import "variables";
.page-container {
  background: white;
  padding: 1em;
  margin: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  img {
    max-width: 100%;
    border: 0.15em solid $grey;
    box-sizing: border-box;
    box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  }
}
