@import "variables";
@import "nib";
.post-article {
  .post-header {
    text-align: center;
  }
  .post-footer {
    text-align: center;
    .post-tags {
      .post-tag {
        position: relative;
        margin: 0.5em;
        display: inline-block;
        text-decoration: none;
        color: $color-link-index-button;
        padding: 0.15em;
        line-height: 1.2em;
        &:active {
          top: 0.1em;
        }
      }
    }
  }
}
.post-nav {
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  .post-nav-item {
    flex: 1 0 auto;
    font-size: 1.2em;
    a {
      position: relative;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      line-height: 1.25em;
      text-decoration: none;
      border-bottom: none;
      &:active {
        top: 0.1em;
      }
    }
  }
  .post-nav-next {
    max-width: 50%;
    text-align: left;
    a {
      justify-content: flex-start;
    }
  }
  .post-nav-prev {
    max-width: 50%;
    text-align: right;
    a {
      justify-content: flex-end;
    }
  }
}
