@import "variables";
.post {
  padding: 1em;
  background: white;
  margin: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  img {
    width: 100%;
    text-align: center;
    border: 0.15em solid $grey;
    box-sizing: border-box;
    box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  }
  .post-title {
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    color: $color-font;
  }
  .post-meta {
    text-align: center;
    display: block;
    position: relative;
  }
  .post-tag {
    display: inline-block;
    text-decoration: none;
    color: $color-link-index-button;
    transition: 1s ease-in-out;
    transform-origin: 50%;
    border-radius: $corner-radius;
    margin: 0.25em;
    padding: 0.15em;
    box-sizing: border-box;
    box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
    &:hover {
      transform: rotateX(360deg);
    }
    &:active {
      top: 0.1em;
    }
  }
}
.post-nav {
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  .post-nav-divider {
    width: 30%;
    flex-grow: 0;
    display: block;
    text-align: center;
  }
  .post-nav-item {
    flex-grow: 1;
    font-size: 1.2em;
    a {
      position: relative;
      display: inline-block;
      line-height: 1.25em;
      text-decoration: none;
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
      &:active {
        top: 0.1em;
      }
    }
  }
  .post-nav-next {
    max-width: 50%;
    text-align: left;
  }
  .post-nav-prev {
    max-width: 50%;
    text-align: right;
  }
}
