@import "variables"
.reward {
  padding: 10px 0;
  margin: 20px auto;
  width: 90%;
  text-align: center;
  .qr {
    div {
      padding: 10px;
      display: inline-block;
      img {
        width: 200px;
        display: inline-block;
      }
      span {
        display: block;
      }
    }
    text-align: center;
  }
  button {
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    background: $red;
    color: white;
    border-radius: $corner-radius;
    line-height: 2em;
    span {
      padding: 10px 10px;
    }
  }
}
