@import "variables"
@import "nib";
.reward {
  padding: 0.5em 0;
  margin: 1em auto;
  width: 90%;
  text-align: center;
  .qr {
    div {
      padding: 0.5em;
      display: inline-block;
      img {
        width: 10em;
        display: inline-block;
      }
      span {
        display: block;
      }
    }
    text-align: center;
  }
  button {
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0em 0.5em;
    margin: 0;
    background: $color-button-reward-background;
    color: $color-button-font;
    border-radius: $corner-radius;
    line-height: 2em;
  }
}
