@import "variables"
.reward {
  padding: 0.5em 0;
  margin: 1em auto;
  width: 90%;
  text-align: center;
  .qr {
    div {
      padding: 0.5em;
      display: inline-block;
      img {
        width: 10em;
        display: inline-block;
      }
      span {
        display: block;
      }
    }
    text-align: center;
  }
  button {
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    background: $red;
    color: white;
    border-radius: $corner-radius;
    line-height: 2em;
    span {
      padding: 0.5em 0.5em;
    }
    transition: 0.3s ease-in-out;
    text-decoration: none;
    border-radius: $corner-radius;
    transform-origin: 50%;
    border-bottom: none;
    box-sizing: border-box;
    box-shadow: 0 0.075em 1em 0.2em rgba(0, 0, 0, 0.19);
    &:hover {
      box-shadow: 0 0.075em 1em 0.5em rgba(0, 0, 0, 0.19);
    }
    &:active {
      top: 0.1em;
    }
  }
}
