@import "variables";
.sidebar {
  background: $color-sidebar-background;
  flex-grow: 1;
  flex-basis: 20%
  padding: 0;
  .sidebar-toggle {
    height: $sidebar-toggle-height;
    display: block;
    text-align: center;
    font-size: 2em;
    background: $color-sidebar-toggle-background;
    color: $color-sidebar-toggle;
  }
  .sidebar-container {
    display: block;
    padding: 1.5em;
  }
  hr {
    margin: 40px 0;
    height: 3px;
    border: none;
    margin-left:auto;
    margin-right:auto;
    width: auto;
    position: relative;
    display: block;
    box-sizing: content-box;
    background-color: #ddd;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  }
}
