.sidebar {
    background: $color-sidebar-background;
    flex-grow: 1;
    padding: 10px 15px;
    hr {
        margin: 40px 0;
        height: 3px;
        border: none;
        margin-left:auto;
        margin-right:auto;
        width: auto;
        position: relative;
        display: block;
        box-sizing: content-box;
        background-color: #ddd;
        background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
    }
}
