@import "variables";
@import "nib";
.tag-container {
  font-size: $font-size;
  padding-left: 2em;
  .tag-title {
    position: relative;
    padding-left: 1em;
    font-size: 1.5em;
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
      margin-left: -0.25em;
      margin-top: -0.25em;
      width: 0.5em;
      height: 0.5em;
      background: $color-background;
      border-radius: 50%;
    }
  }
  .tag-post {
    position: relative;
    padding-left: 1em;
    margin-left: 0;
    .post-title {
      padding: 0;
      margin: 0;
      display: inline-block;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
      margin-left: -0.25em;
      margin-top: -0.25em;
      width: 0.5em;
      height: 0.5em;
      background: $color-background;
      border-radius: 50%;
    }
  }
}
