@import "variables";
@import "nib";
.tags .page-main {
  .tags-counter {
    text-align: center;
    position: relative;
    font-size: 1.5em;
  }
  a {
    position: relative;
    text-decoration: none;
    border-bottom: 0.05em dotted $color-link;
    transition: 0.3s ease-in-out;
    &:hover {
      // Cover hexo generated html attrs!
      color: $color-link-hover !important;
      border-bottom: 0.05em solid $color-link-hover;
    }
    &:active {
      top: 0.1em;
    }
  }
}
