@import "variables";
.tags {
  background: white;
  padding: 1em;
  margin: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 0.075em 1em 0.25em rgba(0, 0, 0, 0.19);
  .tags-counter {
    text-align: center;
    position: relative;
    font-size: 1.5em;
  }
}
