@import "variables";
.tags-container {
  padding: 1em;
  margin: 0.5em;
  .tags-counter {
    text-align: center;
    position: relative;
    font-size: 1.5em;
  }
  a {
    &:active {
      top: 0.1em;
    }
  }
}
