@import "variables"
@import "nib";
.post-toc {
  div {
    margin: 0.5em;
  }
  .toc-link {
    &.active {
      color: $color-link-hover;
      border-bottom: 0.05em solid $color-link-hover;
    }
  }
}
