$grey-lighter = #eaeaea;
$grey-light = #ccc;
$grey = #bbb;
$grey-dark = #999;
$grey-dim = #666;
$grey-deep = #444;
$black-light = #353535;
$black-dark = #252525;
$black-dim = #222;
$black-deep = #16171b;
$red = #ff2a2a;
$blue-bright = #87caff;
$blue = #006bfe;
$blue-deep = #262a90;
$orange = #fc6423;
$green = #a3b354;

$color-font = $black-deep;
$color-selection = $black-light;
$color-selection-font = $grey-lighter;
$color-background = $grey;
$color-link = $grey-dim;
$color-link-hover = $blue;
$color-header-background = $black-deep;
$color-title = $grey-lighter;
$color-nav-font = $grey-light;
$color-nav-background = $black-light;
$color-nav-hover = $black-dark;
$color-nav-link-hover = white;
$color-nav-current = $black-dim;
$color-main-background = $grey-lighter;
$color-sidebar-background = $grey-light;
$color-footer-background = $black-dim;
$color-lighter-font = $grey-lighter;
$color-light-link = $grey-light;
$color-light-link-hover = white;
$color-search = white;
$color-search-background = $blue;
$color-link-index-button = white;
$color-link-index-button-background = $green;
$color-light-selection = $grey-lighter;
$color-light-selection-font = $black-deep;
$color-author-name = $black-deep;
$color-author-description = $grey-deep;

$font-sans = "Roboto", "Noto Sans", Helvetica, Arial, sans-serif;
$font-serif = "Roboto Slab", "Noto Serif", Georgia, "Times New Roman", serif;
$font-mono = "Monaco for Powerline", Monaco, Menlo, Consolas, monospace;
$font-size = 1em;

$corner-radius = 3px
$search-height = 40px;
$search-padding-top = 3px;
$container-max-width = 1120px;
