$grey-lighter = #eaeaea;
$grey-light = #ccc;
$grey = #bbb;
$grey-dark = #999;
$grey-dim = #666;
$grey-deep = #444;
$black-light = #353535;
$black-dark = #252525;
$black-dim = #222;
$black-deep = #16171b;
$red = #ff2a2a;
$blue-bright = #87daff;
$blue = #006bfe;
$blue-deep = #262a90;
$orange = #fc6423;

$color-font = $black-deep;
$color-selection = $black-light;
$color-selection-font = $grey-lighter;
$color-background = $grey-light;
$color-link = $grey-dim;
$color-link-hover = $blue;
$color-header-background = $black-deep;
$color-title = $grey-lighter;
$color-nav-font = $grey-light;
$color-nav-background = $black-light;
$color-nav-hover = $black-dark;
$color-nav-link-hover = white;
$color-nav-current = $black-dim;
$color-main-background = $grey-lighter;
$color-footer-background = $black-dim;
$color-lighter-font = $grey-lighter;
$color-light-link = $grey-light;
$color-light-link-hover = white;
$color-light-link-hover-background = $grey-deep;
$color-light-selection = $grey-lighter;
$color-light-selection-font = $black-deep;
$color-author-name = $black-deep;
$color-author-description = $grey-deep;

$font-sans = "Roboto", "Noto Sans", Helvetica, Arial, sans-serif;
$font-serif = "Roboto Slab", "Noto Serif", Georgia, "Times New Roman", serif;
$font-mono = "Monaco for Powerline", Monaco, Menlo, Consolas, monospace;
$font-icon-profile-size = 24px;
$font-size = 14px;
$font-size-article = 18px;
$font-size-title = 40px;
$line-height = 1.6em;
$line-height-title = 1.3em;

$corner-radius = 3px
$sidebar-toggle-height = 40px;
$container-min-width = 320px;
$container-max-width = 1120px;
$content-min-width = 320px;
$content-max-width = 840px;
